.card-preview {
    width: 200px;
    height: 200px;
    
    border-radius: 20px;
    justify-content: center;
    display: flex;
}

.card-preview:hover {
   transform: scale(1.1);
   box-shadow: 10px 5px 5px rgba(191, 191, 191, 0.8);
}

.poke-img {
    align-self: center;
}